@charset "utf-8";
/* CSS Document */
* {
  font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    padding-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  h1{
    text-align: center;
      background-color: gray;
      color: black;
      width: 97%;
      top:20px;
    left: 10px;
      border: 5px solid greenyellow;
      border-color: black;
      border-radius:10px;
    padding: 5px;
  }

  .button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    color: white;
  }
