

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.app{
   font-size: 150px;
   margin-top: 20px;
}

#loginBody{
   background-image: url('../img/fondo.jpg');
}













